params {
    reads           = "${projectDir}/data/raw_fastq/*_{1,2}.fastq.gz"
    outdir          = "${projectDir}/results"
    bowtie2_index   = "${projectDir}/ref/bowtie2_index/mm10"
    gtf             = "${projectDir}/ref/mm10.gtf"
    blacklist       = "${projectDir}/ref/mm10-blacklist.v2.bed"

    do_trim         = true
    mito_name       = "chrM"
    min_mapq        = 30

    macs2_gsize     = "mm"
    macs2_pval      = 0.01
    macs2_extsize   = 147

    tss_window      = 2000
    bw_bin_size     = 10
    nfr_max         = 100
    nbr_min         = 180
    nbr_max         = 247
}

profiles {
    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled      = true
        process.conda      = "${projectDir}/environment.yml"
        conda.useMamba     = true
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
}

process {
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1

    withName: 'FASTQC|MULTIQC' {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = '2h'
    }

    withName: 'TRIM_GALORE' {
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = '4h'
    }

    withName: 'ALIGN_BOWTIE2' {
        cpus   = 8
        memory = { 16.GB * task.attempt }
        time   = '8h'
    }

    withName: 'FILTER_BAM' {
        cpus   = 4
        memory = { 12.GB * task.attempt }
        time   = '8h'
    }

    withName: 'MACS2_PEAKS' {
        cpus   = 2
        memory = { 8.GB * task.attempt }
        time   = '4h'
    }

    withName: 'ATAC_QC_METRICS' {
        cpus   = 4
        memory = { 12.GB * task.attempt }
        time   = '8h'
    }
}
