params {
    accession_list = null
    bowtie2_index  = null
    blacklist      = null
    annotation_gtf = null
    rna_counts     = []
    outdir         = "results"
}

process {
    withName: 'DIFFERENTIAL_ACCESSIBILITY' {
        cpus = 4
        memory = '8 GB'
    }
    withName: 'ALIGN_BOWTIE2' {
        cpus = 4
        memory = '8 GB'
    }
    withName: 'TRACKS_AND_QC' {
        cpus = 4
    }
}

profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'bioconductor/bioconductor_docker:RELEASE_3_17'
    }
    conda {
        conda.enabled = true
        process.conda = """
        channels:
          - conda-forge
          - bioconda
          - defaults
        dependencies:
          - sra-tools=3.0.10
          - fastqc=0.11.9
          - trim-galore=0.6.10
          - bowtie2=2.5.1
          - samtools=1.18
          - bedtools=2.31.1
          - macs2=2.2.9.1
          - deeptools=3.5.4
          - r-base=4.3.1
          - bioconductor-diffbind=3.10.0
          - bioconductor-edger=3.42.4
          - bioconductor-chipseeker=1.38.0
          - bioconductor-txdb.mmusculus.ucsc.mm10.knownGene=3.10.0
          - bioconductor-org.mm.eg.db=3.17.0
          - bioconductor-clusterprofiler=4.8.1
          - bioconductor-motifmatchr=1.22.0
          - bioconductor-jaspar2020=0.99.10
          - bioconductor-tfbstools=1.42.0
          - bioconductor-summarizedexperiment=1.32.0
          - bioconductor-genomicranges=1.54.1
          - r-ggplot2=3.4.4
          - r-data.table=1.14.8
        """
    }
    default {
        process.executor = 'local'
    }
}
